
h1{
	font-family: 'Bowlby One SC', cursive;
	margin:0px;
	padding:20px;
	font-size:40px;
}
h2{
	font-family: 'Bowlby One SC', cursive;
	font-size:30px;
}

.serif{
	font-family: 'Playfair Display', serif;
}
.sans{
	font-family: 'Share', cursive;
}

.white{
	color:#e2e2e2;
}